.chat{
    flex:.65;
    display:flex;
    flex-direction: column;
}
.chat_header{
    padding:17px;
    display:flex;
    align-items:center;
    border-bottom:1px solid gray;
}
.chat_headerInfo{
    flex:1;
    padding-left:20px;
}
.chat_headerInfo >h3{
    margin-bottom:3px;
    font-weight:600;
}
.chat_headerInfo >p{
    font-size:13px;
    color:gray;
}
.chat_body{
    flex:1;                       
    background-color: rgb(188, 229, 238);
    padding:30px;
   overflow:scroll;
   overflow-x:hidden;
}
.chat_currentuser{
    margin-left:auto;
    background-color:sandybrown;
    position:relative;
    padding:5px;
    font-size:16px;
    border-radius:10px;
    margin-bottom: 20px;
    width: fit-content;
}
.chat_frienduser{
    position:relative;
    padding:5px;
    font-size:16px;
    background-color:white;
    border-radius:10px;
    margin-bottom: 20px;
    width: fit-content;
}
.chat_footer{
    display:flex;
    align-items:center;
    height:60px;
}
.form{
    display: flex;
    padding:10px;

    background-color:lightgray;
    width:100%;
}
.form_input{
    border:none;
    outline:none;
    flex:1;
    border-radius:15px;
}
.form_button{
    border-radius:20px;
    margin-left:10px;
    padding:5px;
}
